{% extends 'layout.html' %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="jumbotron text-center">

                    <h1>MINI STORE APP</h1>
        
                </div>

                <div class="text-right">

                    <!-- Trigger the modal with a button -->
                    <a href="{{ url_for('home') }}" class="btn btn-default btn-md">Manage Product</a>
            
                    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Add Order</button>
                
                </div>
                
                <div class="jumbotron" style="background-color:beige" >
                    
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Customer Name</th>
                                <th>Total</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for order in data %}
                                    <tr>
                                        <td>{{ order.0 }}</td>
                                        <td>{{ order.1 }}</td>
                                        <td>{{ order.2 }}</td>
                                        <td>{{ order.3 }}</td>
                                        <td>
                                            <a href="/deleteorder/{{ order.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Ürünü Silmek İstediğinizden Emin Misin?')">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    
                            </tbody>
                        </table>

                        <select class="form-select" aria-label="Default select example" action="{{ url_for('order_detail') }}">
                            {% for do in orderdetail %}
                                <option value="{{ do.0 }}">{{ do.1 }}</option>
                            {% endfor %}
                        </select>

                        
                </div>

                
            </div>

        </div>
        

    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Order</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('order') }}" method="POST">
                        <div class="form-group">
                            <label>Customer Name:</label>
                            <input type="text" class="form-control" name="Customer Name">
                        </div>
                        <div class="form-group">
                            <label>Total:</label>
                            <input type="text" class="form-control" name="Total">
                        </div>
                        <div class="form-group">
                            <label>Date:</label>
                            <input type="datetime" class="form-control" name="Date">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}